{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}
  <h2>登录</h2>
  <!-- ?? form ??? POST ????????????? url -->
  <form method="POST" action="{{ url_for('front.login') }}">
    <!-- flask-wtf ??????????? csrf_token??????????????, ????? hmtl ????????????? csrf_token ? -->
    {{ form.csrf_token }}

     <!-- ?? Bootstrap ???????????? -->
    <div class="form-group">
      <!-- ???? field label -->
      <!-- ???? field?StringField ???????? <input> ???field ?????? html ????????????????? html ??? -->
      {{ form.email.label }} {{ form.email(class='form-control') }}
    </div>

    <div class="form-group">
      {{ form.password.label }} {{ form.password(class='form-control') }}
    </div>

    <!-- BooleanField ??????????? Bootstrap ? checkbox ?-->
    <div class="checkbox">
      <label>
        {{ form.remember_me() }} 
<!-- ???????? label ? text ???????????????"???"?????-->
{{ form.remember_me.label.text }}
      </label>
    </div>
    <!-- ????????? Bootstrap ????-->
    {{ form.submit(class="btn btn-primary") }}
  </form>
{% endblock %}
